$breakpoint-lg: 1024px;
$breakpoint-md: 992px;
$breakpoint-sm: 576px;

@mixin gradient-text {
  background-image: var(--primary-bg);
  color: transparent;
  background-clip: text;
}

@mixin container {
  margin: 0 auto;
  max-width: 95%;

  @media (width >= $breakpoint-sm) {
    max-width: 540px;
  }

  @media (width >= 768px) {
    max-width: 720px;
  }

  @media (width >= $breakpoint-md) {
    max-width: 960px;
  }

  @media (width >= 1200px) {
    max-width: 1140px;
  }

  @media (width >= 1400px) {
    max-width: 1320px;
  }

  @media (width >= 1600px) {
    max-width: 1536px;
  }
} 