.filterButton {
  margin-right: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

//.filterHeader {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  margin-bottom: 24px;
//  padding-bottom: 16px;
//  border-bottom: 1px solid rgba(137, 136, 139, 0.3);
//}

.filterTitle {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.desktopFilterContainer {
  //background: var(--background-transparent);
  //backdrop-filter: blur(10px);
  //-webkit-backdrop-filter: blur(10px);
  padding: 28px;
  padding-top: 0px;
  //border-radius: 12px;
  margin-bottom: 24px;
  //border: 1px solid rgba(255, 255, 255, 0.05);
  width: 320px;
  
  @media (max-width: 1200px) {
    width: 350px;
  }
  
  @media (max-width: 992px) {
    width: 400px;
  }
  
  @media (max-width: 768px) {
    display: none;
  }
}

.mobileFilterButton {
  margin-bottom: 16px;
  border-radius: 8px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  @media (min-width: 769px) {
    display: none;
  }
}

.drawerFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  gap: 12px;
}

.categoryButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.categoryButton {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: rgba(49, 38, 59, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  
  &:hover, &.active {
    background: var(--primary-bg);
  }
}

.tierButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 30px;
  
  .tierButton {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: rgba(49, 38, 59, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #ffffff;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    
    &.mythic {
      background-color: rgba(240, 98, 146, 0.8);
      
      &:hover {
        background-color: rgba(240, 98, 146, 1);
      }
    }
    
    &.epic {
      background-color: rgba(103, 58, 183, 0.8);
      
      &:hover {
        background-color: rgba(103, 58, 183, 1);
      }
    }
    
    &.rare {
      background-color: rgba(63, 81, 181, 0.8);
      
      &:hover {
        background-color: rgba(63, 81, 181, 1);
      }
    }
  }
} 