@import "../../../../../styles/mixins";

.container-filter {
  width: 320px;
  padding: 24px;
  background-color: rgba(12, 13, 26, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  
  @media (max-width: 1200px) {
    width: 350px;
  }
  
  @media (max-width: 992px) {
    width: 400px;
  }
  
  @media (max-width: 576px) {
    width: 100%;
  }

  .loading-select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: rgba(255, 255, 255, 0.7);
  }

  :global {
    .ant-slider {
      .ant-slider-rail {
        background-color: #3a3841 !important;
      }

      .ant-slider-track {
        background-image: var(--primary-bg) !important;
      }

      .ant-slider-mark {
        top: 20px;

        .ant-slider-mark-text {
          color: #d6d6d6 !important;
          font-weight: 500 !important;
          font-size: 16px;
          width: 50%;

          &:first-child {
            text-align: left;
            transform: translateX(0) !important;
          }

          &:last-child {
            text-align: right;
            transform: translateX(-100%) !important;
          }
        }
      }
    }

    .ant-input-outlined {
      padding-top: 6px !important;
      padding-bottom: 6px !important;
    }

    .ant-form-item {
      &-label {
        label {
          color: #89888b;
          font-weight: 600;
          font-size: 16px;
          text-transform: uppercase;
        }
      }

      &:first-child {
        margin-bottom: 40px;
      }
    }

    .ant-select-multiple {
      .ant-select-selection-item {
        background: linear-gradient(
          91.47deg,
          rgb(218 69 143 / 40%) -6%,
          rgb(218 52 221 / 40%) 113.05%
        ) !important;
        &:hover {
          opacity: 0.8;
        }
      }

      .anticon-close {
        color: #fff !important;
      }
    }
    
    .action-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: 24px;

      .ant-btn {
        width: 120px;

        .anticon-close-circle {
          color: #fbc625;
        }
      }
      
      .ant-btn-primary {
        background-image: var(--primary-bg);
        span {
          @include gradient-text;
        }
      }
    }
  }
} 