.link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s linear;
  position: relative;
  transition: background 0.3s linear;
}

.link::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 5px;
  width: 0;
  height: 2px;
  background: linear-gradient(91.47deg, #DA458F -6%, #DA34DD 113.05%);
}

.link:hover {
  background: linear-gradient(91.47deg, #DA458F -6%, #DA34DD 113.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.05);
} 

.link:hover::before {
  animation: slideIn 0.3s ease-out forwards;
}

.link.active {
  background: linear-gradient(91.47deg, #DA458F -6%, #DA34DD 113.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link.active::before {
  width: 16px;
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 16px;
    opacity: 1;
  }
}
